.containerButtonUser {
    width: 350px;
    height: 190px;
    border: #6C757D 1px solid;
    border-radius: 12px;
    background-color: #7749F8;
}

.containerButtonUser a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.titleContainerButtonUser{
    padding: 16px 24px;
    border-radius: 12px 12px 0px 0px;
}

.textContainerButtonUser{
    padding: 24px;
}

.titleContainerButtonUser>h1{
    font-size: 20px;
    font-weight: 700;
}

.textContainerButtonUser>h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}