#form{
    display: flex;
    flex-direction: column;
    background-color: #3D8BFD;
    padding: 30px 20px;
    gap: 12px;
    width: 240px;
    border-radius: 8px;
    margin: auto;
}

.input{
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 5px 12px;
    font-size: 16px;
}

#button{
    margin-top: 14px;
    background-color: #28A745;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0px;
}
